In [10]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

In [11]:
df = pd.read_csv("../data/spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
stop_words = set(stopwords.words("english"))
stemmer = PorterStemmer()

In [13]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"\W", " ", text)
    text = re.sub(r"\d", "", text)
    words = [
        stemmer.stem(word)
        for word in text.split()
        if word not in stop_words
    ]
    return " ".join(words)

In [14]:
df["Message_clean"] = df["Message"].apply(clean_text)
df.head()

,Category,Message,Message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entri wkli comp win fa cup final tkt st m...
3,ham,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

In [15]:
df[["Message", "Message_clean"]].head(10)

,Message,Message_clean
0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,Free entry in 2 a wkly comp to win FA Cup fina...,free entri wkli comp win fa cup final tkt st m...
3,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though
5,FreeMsg Hey there darling it's been 3 week's n...,freemsg hey darl week word back like fun still...
6,Even my brother is not like to speak with me. ...,even brother like speak treat like aid patent
7,As per your request 'Melle Melle (Oru Minnamin...,per request mell mell oru minnaminungint nurun...
8,WINNER!! As a valued network customer you have...,winner valu network custom select receivea pri...
9,Had your mobile 11 months or more? U R entitle...,mobil month u r entitl updat latest colour mob...

In [16]:
df_clean = df[["Category", "Message_clean"]]
df_clean = df_clean.rename(columns={"Message_clean": "Message"})
df_clean.head()

  Category                                            Message
0      ham  go jurong point crazi avail bugi n great world...
1      ham                              ok lar joke wif u oni
2     spam  free entri wkli comp win fa cup final tkt st m...
3      ham                u dun say earli hor u c alreadi say
4      ham               nah think goe usf live around though

In [17]:
df_clean.to_csv("../data/spam_clean.csv", index=False)
print("Dataset nettoyé sauvegardé")

Dataset nettoyé sauvegardé

<h1>## Conclusion du prétraitement</h1>
<pre>
- Nettoyage du texte effectué
- Suppression ponctuation et chiffres
- Suppression stopwords
- Application du stemming
- Dataset prêt pour la modélisation
</pre>